@mixin display{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navebar{
  @include display;
  background-color: #333;
  padding: 1rem;
}
.logo{
  color: white;
  font: 1.5em sans-serif;
  cursor: pointer;
}